{% extends 'app/base.html' %}
{% load static %}
{% block title %}Hoàn thành đổi mật khẩu{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Chào mừng Trường !</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Hoàn thành đổi mật khẩu</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
   <h3>Đổi mật khẩu thành công!!</h3>
   <div><iframe src="http://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"
    frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
  </div>
 </div>
</div>
{% endblock main-content %}