{% extends 'app/base.html' %}
{% load static %}
{% block title %}Đặt lại mật khẩu đã hoàn tất{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h4 class="alert-heading">Hoàn tất !</h4>
                <p> Một Email đã được gửi kèm theo hướng dẫn để thiết lập lại 
                    mật khẩu. <b>Kiểm tra email của bạn ! </b></p>
            </div>
        </div>
    </div>
{% endblock main-content %}
